/* styles.css */

/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- Página de Registro --- */
.registro-container {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    width: 90%;
    
}
.registro-container label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

.registro-container input[type="text"] {
    width: 80%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.registro-container input[type="submit"] {
    background: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.registro-container input[type="submit"]:hover {
    background: #bd8f4b;
}

/* --- Página de Preguntas --- */
.preguntas-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.preguntas-container h1 {
    font-size: 26px;
    margin-bottom: 20px;
}

.preguntas-container .question {
    margin: 20px 0;
    text-align: left;
}

.preguntas-container .question label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.preguntas-container input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

.preguntas-container input[type="submit"] {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.preguntas-container input[type="submit"]:hover {
    background: #218838;
}

/* --- Página de Resultados --- */
.resultados-container {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.resultados-container h1 {
    margin-bottom: 20px;
}

.resultados-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.resultados-container th, .resultados-container td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.resultados-container th {
    background: #f4f4f9;
    font-weight: bold;
}

.resultados-container a.button {
    display: inline-block;
    background: #007BFF;
    color: white;
    text-decoration: none;
    padding: 10px 20px;

}

.resultados-container a.button:hover {
    background: #0056b3;
}
